.forecastListItem {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(65px, 20vw, 150px)
}

.forecastListItem img {
    width: clamp(65px, 10vw, 100px)
}

.forecastListItem h5 {
    font-size: clamp(2px, 5vw, 10px);
}