.todaysForecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.leftSection {
    grid-column: 1;
}

.rightSection {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}